.form_feedback_wrap {
    max-width: 800px;
    margin: 0 auto;
    .pretitle_sm {
        color: #e6be81;
        text-align: center;
        font: 500 .87rem 'Montserrat', sans-serif;
    }
    .title_form {
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        color: #2f313a;
        font: 3rem 'Gabriela', serif;
        @media (max-width: 990px) {
            font: 2.125rem 'Gabriela', serif;
            margin-bottom: 20px;
        }
    }
    .form_feedback {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
        .feedback_input_box {
            .label_text {
                color: #a9aab1;
                font: 1.125rem 'Gabriela', serif;
                background: #fff;
                padding: 0 10px;
                position: relative;
                bottom: -10px;
                left: 10px;
                display: inline-block;
                span {
                    color: #e6be81;
                }
                @media (max-width: 990px) {
                    font: 1rem 'Gabriela', serif;
                }
            }
            input {
                width: 100%;
                padding: 20px;
                border-radius: 5px;
                border: 2px solid #e8e8e8;
                box-sizing: border-box;
                outline: none;
                color: #000;
                font: 400 1rem 'Montserrat', sans-serif;
            }
            textarea {
                width: 100%;
                padding: 20px;
                border-radius: 5px;
                border: 2px solid #e8e8e8;
                box-sizing: border-box;
                resize: none;
                outline: none;
                height: 150px;
                color: #000;
                font: 400 1rem 'Montserrat', sans-serif;
            }
        }
        .feedback_input_box:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 3;
            @media (max-width: 990px) {
                grid-column-start: auto;
                grid-column-end: auto;
            }
        }
        .feedback_btn_wrap {
            grid-column-start: 1;
            grid-column-end: 3;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 40px;
            @media (max-width: 990px) {
                grid-column-start: auto;
                grid-column-end: auto;
                grid-template-columns: 1fr;
                grid-gap: 15px;
            }
            p {
                font: 400 1rem/24px 'Montserrat', sans-serif;
                color: #2f313a;
                @media (max-width: 990px) {
                    grid-row-start: 2;
                    text-align: center;
                    font: 400 .87rem/22px 'Montserrat', sans-serif;
                }
                a {
                    text-decoration: none;
                    color: #e6be81;
                }
            }
            .send_btn {
                border: none;
                width: 100%;
                box-sizing: border-box;
                background-color: #e6be81;
                border-radius: 5px;
                text-transform: uppercase;
                padding: 20px;
                color: #fff;
                cursor: pointer;
                font: 500 .87rem 'Montserrat', sans-serif;
            }
        }
    }
}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/**
 * Fade-move animation for second dialog
 */


/* at start */

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -moz-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -ms-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -o-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px) rotateX( 0);
    -moz-transform: translateY(0) perspective( 600px) rotateX( 0);
    -ms-transform: translateY(0) perspective( 600px) rotateX( 0);
    -o-transform: translateY(0) perspective( 600px) rotateX( 0);
    transform: translateY(0) perspective( 600px) rotateX( 0);
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -moz-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -ms-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -o-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
}


/* Dark overlay, start state */

.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

.thank_modal {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    @media (max-width: 990px) {
        padding: 20px;
    }
    .thank_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo_modal {
            margin-top: 25px;
            margin-bottom: 35px;
            @media (max-width: 990px) {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        .modal_title {
            color: #2f313a;
            margin-bottom: 20px;
            font: 2.5rem 'Gabriela', serif;
            @media (max-width: 990px) {
                font: 1.75rem 'Gabriela', serif;
                margin-bottom: 15px;
            }
        }
        .modal_text {
            color: #2f313a;
            margin-bottom: 20px;
            font: 400 1rem/26px 'Montserrat', sans-serif;
            @media (max-width: 990px) {
                margin-bottom: 30px;
            }
        }
        p {
            text-align: center;
        }
    }
    .close_modal {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 24px;
        cursor: pointer;
        outline: none;
        width: 24px;
    }
}

.form_modal {
    max-width: 840px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    @media (max-width: 990px) {
        padding: 20px;
    }
    .close_modal {
        outline: none;
        position: absolute;
        right: 20px;
        top: 20px;
        height: 24px;
        cursor: pointer;
        width: 24px;
    }
}

.mfp-bg {
    background-color: #2f313a;
    opacity: .6;
}